@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
   --orange:#ffa500;
}

*{
    font-family: 'Nunito', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    outline: none; border: none;
    text-decoration: none;
    transition: all .2s linear;
}

*::selection{
    background: var(--orange);
    color: #fff;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    background: var(--orange);
    color: #fff;
    padding: 8rem 3rem;
    border: .2rem solid var(--orange);
    cursor: pointer;
    font-size: 1.7rem;
}
.btn:hover{
    background: rgba(255, 165, 0, .2);
    color: var(--orange);
    display: block;
    width: 100%;
}
section{
    padding: 2rem 9%;
}
header{
    position: static;
    top: 0;left: 0;right: 0;
    background: #FFFFFF;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
}

header .navbar a{
    color: #333;
    font-size: 2rem;
    margin: 0 .8rem;
}

header .navbar a:hover{
    color: var(--orange);
}
.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    position: relative;
    z-index: 0;
}
.home .content{
    text-align: center;
}
.home .content h3{
    font-size: 4.5rem;
    color: var(--orange);
    text-transform: uppercase;
    text-shadow: 0 .3rem .5rem rgba(0, 0, 0, .1);
}
.home .content p{
    font-size: 4.5rem;
    color: var(--orange);
    padding: .5rem 0;
}
.home .video-container video{
    position: absolute;
    top: 0; left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.home .controls{
    padding: 1rem;
    border-radius: 5rem;
    background: rgba(0,0,0,.7);
    position: relative;
    top: 10rem;
}
.home .controls .vid-btn{
    height: 2rem;
    width: 2rem;
    display: inline-block;
    border-radius: 50%;
    background:#fff;
    cursor: pointer;
    margin: 0 .5rem;
}
.home .controls .vid-btn.active{
    background: var(--orange);
}
.home .popup{
    background-color: #FFFFFF;
    width: device-width;
    height: device-height;
    padding: 30px 40px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top:55%;
    border-radius: 10px;    
    font-family: "Poppins",sans-serif;
}
.home .popup button{
    display: block;
    margin:0 0 10px auto;
    background-color: transparent;
    font-size: 30px;
    color: #c5c5c5;
    border: none;
    outline:none;
    cursor: pointer;
}

.home .popup img{
    position: relative;
    width: 800px;
    height: 600px;
    display: flex;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.home .popup a{
    display: block;
    width: 150px;
    position: relative;
    margin:auto;
    text-align: center;
    background-color: #0f72e5;
    color: #FFFFFF;
    text-decoration: none;
    padding: 5px 0;
    display: none;
}
.about-content{
    display:flex;
    flex-direction: row;
}
.about-content img{
    height: 400px;
    width: 450px;
}
.about-content p{
    font-size: 16px;
    font-family: "Poppins",sans-serif;
    text-align: justify;
}
